<!-- views/profileBK.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust Project - Recovery Page</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!--<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/flatpickr"></script>
    <!--<script src="//unpkg.com/flatpickr"></script>-->

    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }

        .banner{
            position:relative;
            width:100%;
            text-align:center;
            display:inline-block;
        }
        .center {
            margin:auto;
        }
        .btn {
            size: auto;
        }
        .randomText {
            font-size: 100%;
        }
        .floating-Box{
            display: inline;
        }

        table{
            overflow-x: auto;
            width: 100%;
            display: block;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
            text-align:center;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
        table::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
        table::-webkit-scrollbar {
            -webkit-appearance: none;
            height: 7px;
        }
        button[type='submit']{
            padding: 10px;
            margin-left: 10px;
        }
        /*#dvData {*/
        /*overflow-x: auto;*/
        /*width: 100%;*/
        /*margin-left:10px;*/
        /*}*/
        /* for1024px or less */
        @media screen and (max-width:1024px) {
            .btn-mg{
                font-size: 20px;
                height:25px;
                line-height:0;
            }
        }
        /* for 768px or less */
        @media screen and (max-width:768px) {
            .btn-mg {
                font-size: 15px;
                height: 22px;
                line-height: 0;
            }
        }
        /* for 414px or less */
        @media screen and (max-width:414px) {
            .btn-mg {
                font-size: 12px;
                height: 20px;
                line-height: 0;
            }

            #Username {
                font-size: 15px;
                padding: 5px 2px;
                margin: 10px;
            }

            h1 {
                font-size: 30px;
            }

            .btn {
                padding: 8px;
            }
        }
        /* for 375px or less */
        @media screen and (max-width:375px) {

            select{
                width:35%;
            }
            input{
                width:35%;
            }
            .date{
                width:20%;
                font-size:12px;
            }
            .randomText{
                font-size:15px;
                padding:5px 6px;
            }
            #Username{
                font-size:10px;
                padding:5px 2px;
                margin:10px;
            }
            .btn-mg{
                font-size:12px;
                height:20px;
                line-height:0;
            }
            h1{
                font-size:30px;
            }
            .btn{
                padding:5px;
            }
        }
        /* for 320px or less */
        @media screen and (max-width:320px) {
            select {
                width: 35%;
            }

            input {
                width: 35%;
            }

            .randomText {
                font-size: 15px;
                padding: 2px 2px;
            }

            #Username {
                font-size: 10px;
                padding: 5px 2px;
                margin: 10px;
            }

            .btn-mg {
                font-size: 12px;
                height: 20px;
                line-height: 0;
            }

            .btn {
                padding: 5px;
            }

            #subtitles {
                font-size: 19px;
            }

            h1 {
                font-size: 25px;
            }
        }
    </style>
</head>
<body>
<div class="container center">
    <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg" /></a>

</div><br><br>
<div id="pageHeader" class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> FAW Project -  Recovery </h1><h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4><br>
    <a href="/userhome" class="btn btn-default btn-lg"><span class="randomText">User Home</span></a>&nbsp;&nbsp;&nbsp;
    <a href="/newEntry" class="btn btn-default btn-lg"><span class="randomText">New Entry</span></a>&nbsp;&nbsp;&nbsp;
    <a href="/dataHistory" class="btn btn-default btn-lg"><span class="randomText">Data History</span></a>&nbsp;&nbsp;&nbsp;
    <div class="dropdown floating-Box">
        <button class="btn btn-primary btn-lg" type="button" data-toggle="dropdown" id="Username"><%= user.firstName%>
            <span class="caret"></span></button>
        <ul id="userMenu" class="dropdown-menu">

        </ul>
    </div>
</div>
<br>
<div class="container">
    <br>
    <div class="center">
        <h3 id="subtitles"><strong>Current Deleted Rows:</strong><button id="recoverButton" type="submit" class="btn btn-warning btn-mg floating-Box"> Recover </button></h3>
        <h4 id="note" class="floating-Box">Please select the rows you would like to recover.</h4>
        <br><br>

        <div id="dvData">
            <h4 style="color: #7d7d7d"><strong>Scouting:</strong></h4>
            <table id="dataDisplay" style="width:100%;">
                <thead>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Location_Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Training</th>
                    <th>Main_Crop</th>
                    <th>Main_Crop_Variety</th>
                    <th>Irrigation</th>
                    <th>Fertilized_Used</th>
                    <th>Crop_Stage</th>
                    <th>General_Health</th>
                    <th>Farming_system</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Field_Size</th>
                    <th>Field_Size_Unit</th>
                    <th>Main_crop_planting_date</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Rain_Amount</th>
                    <th>Pest_Species</th>
                    <th>Crop_Damage</th>
                    <th>Pest_Stage</th>
                    <th>Current_Damage</th>
                    <th>Previous_Damage</th>
                    <th>Natural_Enemies</th>
                    <th>Dead_Larvae</th>
                    <th>Crop_Infested</th>
                    <th>Control_Undertaken</th>
                    <th>Pesticide_Name</th>
                    <th>Biopesticide_Name</th>
                    <th>Pesticide_Litres</th>
                    <th>Biopesticide_Litres</th>
                    <th>Damage_Photo</th>
                    <th>Damage_Photo_Name</th>
                    <th>Pest_Photo</th>
                    <th>Pest_Photo_Name</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Location_Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Training</th>
                    <th>Main_Crop</th>
                    <th>Main_Crop_Variety</th>
                    <th>Irrigation</th>
                    <th>Fertilized_Used</th>
                    <th>Crop_Stage</th>
                    <th>General_Health</th>
                    <th>Farming_system</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Field_Size</th>
                    <th>Field_Size_Unit</th>
                    <th>Main_crop_planting_date</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Rain_Amount</th>
                    <th>Pest_Species</th>
                    <th>Crop_Damage</th>
                    <th>Pest_Stage</th>
                    <th>Current_Damage</th>
                    <th>Previous_Damage</th>
                    <th>Natural_Enemies</th>
                    <th>Dead_Larvae</th>
                    <th>Crop_Infested</th>
                    <th>Control_Undertaken</th>
                    <th>Pesticide_Name</th>
                    <th>Biopesticide_Name</th>
                    <th>Pesticide_Litres</th>
                    <th>Biopesticide_Litres</th>
                    <th>Damage_Photo</th>
                    <th>Damage_Photo_Name</th>
                    <th>Pest_Photo</th>
                    <th>Pest_Photo_Name</th>
                </tr>
                </tfoot>
            </table>

            <h4 style="color: #9d9d9d"><strong>Traps:</strong></h4>
            <table id="trapDisplay" style="width:100%;">
                <thead>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Location_Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Main_Crop</th>
                    <th>Main_Crop_Variety</th>
                    <th>Irrigation</th>
                    <th>Fertilized_Used</th>
                    <th>Crop_Stage</th>
                    <th>General_Health</th>
                    <th>Farming_system</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Field_Size</th>
                    <th>Field_Size_Unit</th>
                    <th>Main_crop_planting_date</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Rain_Amount</th>
                    <th>Trap_ID</th>
                    <th>Trap_Location</th>
                    <th>Number_of_Traps</th>
                    <th>FAW_Confirmed</th>
                    <th>FAW_Suspected</th>
                    <th>Other_Species</th>
                    <th>Trap_Type</th>
                    <th>Lure_Name</th>
                    <th>Trap_Replaced</th>
                    <th>Date_Trap_Replaced</th>
                    <th>Lure_Replaced</th>
                    <th>Date_Lure_Replaced</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    <th>Transaction_ID</th>
                    <th>Date</th>
                    <th>Location_Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Main_Crop</th>
                    <th>Main_Crop_Variety</th>
                    <th>Irrigation</th>
                    <th>Fertilized_Used</th>
                    <th>Crop_Stage</th>
                    <th>General_Health</th>
                    <th>Farming_system</th>
                    <th>Rotation_Intercropping_Crop</th>
                    <th>Field_Size</th>
                    <th>Field_Size_Unit</th>
                    <th>Main_crop_planting_date</th>
                    <th>Date_of_Last_Rain</th>
                    <th>Rain_Amount</th>
                    <th>Trap_ID</th>
                    <th>Trap_Location</th>
                    <th>Number_of_Traps</th>
                    <th>FAW_Confirmed</th>
                    <th>FAW_Suspected</th>
                    <th>Other_Species</th>
                    <th>Trap_Type</th>
                    <th>Lure_Name</th>
                    <th>Trap_Replaced</th>
                    <th>Date_Trap_Replaced</th>
                    <th>Lure_Replaced</th>
                    <th>Date_Lure_Replaced</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script type='text/javascript'>
    var dtstring = "";
    var rowSelected = [];
    var table = $("#dataDisplay").DataTable();
    var trapTable = $("#trapDisplay").DataTable();
    var UserRole = "<%= user.userrole %>";
    var DropMenu;
    var d;
    var transactionID = [];

    $(document).ready(function(){

        $(function () {
            flatpickr(".date", {
                dateFormat: "Y-m-d",
                time_24hr: true
            });

            if (UserRole === "Admin") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu)
            } else if (UserRole === "Regular") {
                DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                    "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                $("#userMenu").empty();
                $("#userMenu").append(DropMenu)
            }

            table.clear();
            table.draw();
            trapTable.clear();
            trapTable.draw();
            queryAndDisplay("statusDel=" + "Deleted" + "&firstName=" + "<%= user.firstName %>" + "&lastName=" + "<%= user.lastName %>");

        });

        $('#dataDisplay tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                d = table.row(this).data();
                var index = transactionID.indexOf(d[0]);
                transactionID.splice(index, 1);
            } else {
                $(this).addClass('selected');

                d = table.row(this).data();
                d.counter++;
                table.row(this).data(d).draw();

                transactionID.push(d[0]);

                var thArray = [];

                $('#dataDisplay > thead > tr > th').each(function () {
                    thArray.push($(this).text())
                })

                for (var i = 0; i < thArray.length; i++) {
                    rowSelected[i] = {};
                    rowSelected[i].Name = thArray[i];
                    rowSelected[i].Value = d[i];
                }
            }
        });

        $("#recoverButton").on("click", function () {
            if (confirm("Are you sure you would like to recover this row(s)?") === true) {
                var transactionIDStr = "transactionIDStr=";
                for (var i = 0; i < transactionID.length; i++) {
                    transactionIDStr += transactionID[i] + ",";
                    if (i === transactionID.length - 1) {
                        transactionIDStr = transactionIDStr.substring(0, transactionIDStr.length - 1);
//                            alert(usernameStr);
                        update();
                    }
                }

                function update() {

                    $.ajax({
                        url: '/recoverRow2',
                        type: 'GET',
                        dataType: 'json',
                        async: false,
                        data: transactionIDStr,
                        success: function (result) {
                            window.location.replace('/dataHistory')
                        }
                    })
                }
            } else {
                return false;
            }
        });
    });

    function query() {
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var startDate = document.getElementsByClassName("date")[0].value;
        var endDate = document.getElementsByClassName("date")[1].value;
        var filter1 = document.getElementsByClassName("filter")[0].value;
        var filter2 = document.getElementsByClassName("filter")[1].value;
        var filter3 = document.getElementsByClassName("filter")[2].value;
        var content1 = document.getElementsByClassName("content")[0].value;
        var content2 = document.getElementsByClassName("content")[1].value;
        var content3 = document.getElementsByClassName("content")[2].value;

        var queryStr = "statusDel=" + "Deleted" + "&firstName=" + firstName + "&lastName=" + lastName + "&startDate=" + startDate + "&endDate=" + endDate + "&filter1=" + filter1 + "&filter2=" + filter2 + "&filter3=" + filter3 + "&content1=" + content1 + "&content2=" + content2 + "&content3=" + content3;
        //alert(queryStr);
        table.clear();
        table.draw();
        trapTable.clear();
        trapTable.draw();
        queryAndDisplay(queryStr);
    }

    var queryAndDisplay = function (querystr) {
        $.ajax({
            url: '/filterQuery',
            type: 'GET',
            dataType: 'json',
            async: false,
            data: querystr,
            success: function (resp) {

                if (!resp[0].errMsg) {
                    for (var i = 0; i < resp.length; i++) {
                        if (resp[i].Entry_type === "FIELD SCOUTING") {
                            table.row.add([
                                resp[i].transactionID,
                                resp[i].Date,
                                resp[i].Location_name,
                                resp[i].Latitude,
                                resp[i].Longitude,
                                resp[i].Training,
                                resp[i].Main_crop,
                                resp[i].Main_crop_variety,
                                resp[i].Irrigation,
                                resp[i].Fertilized_used,
                                resp[i].Crop_stage,
                                resp[i].General_health,
                                resp[i].Farming_system,
                                resp[i].Rotation_intercropping_crop,
                                resp[i].Field_size,
                                resp[i].Field_size_unit,
                                resp[i].Main_crop_planting_date,
                                resp[i].Date_of_last_rain,
                                resp[i].Rain_amount,
                                resp[i].Pest_species,
                                resp[i].Present_absent,
                                resp[i].Crop_damage,
                                resp[i].Current_damage,
                                resp[i].Previous_damage,
                                resp[i].Natural_enemies,
                                resp[i].Dead_larvae,
                                resp[i].Crop_infested,
                                resp[i].Control_undertaken,
                                resp[i].Pesticide_name,
                                resp[i].Biopesticide_name,
                                resp[i].Pesticide_litres,
                                resp[i].Biopesticide_litres,
                                resp[i].Damage_photo,
                                resp[i].Damage_photo_name,
                                resp[i].Pest_photo,
                                resp[i].Pest_photo_name
                            ]).draw(false);
                        } else if (resp[i].Entry_type === "PHEROMONE TRAP") {
                            trapTable.row.add([
                                resp[i].transactionID,
                                resp[i].Date,
                                resp[i].Location_name,
                                resp[i].Latitude,
                                resp[i].Longitude,
                                resp[i].Main_crop,
                                resp[i].Main_crop_variety,
                                resp[i].Irrigation,
                                resp[i].Fertilized_used,
                                resp[i].Crop_stage,
                                resp[i].General_health,
                                resp[i].Farming_system,
                                resp[i].Rotation_intercropping_crop,
                                resp[i].Field_size,
                                resp[i].Field_size_unit,
                                resp[i].Main_crop_planting_date,
                                resp[i].Date_of_last_rain,
                                resp[i].Rain_amount,
                                resp[i].Trap_ID,
                                resp[i].Trap_location,
                                resp[i].Number_of_traps,
                                resp[i].FAW_confirmed,
                                resp[i].FAW_suspected,
                                resp[i].Other_species,
                                resp[i].Trap_status,
                                resp[i].Lure_name,
                                resp[i].Trap_replaced,
                                resp[i].Date_trap_replaced,
                                resp[i].Lure_replaced,
                                resp[i].Date_lure_replaced
                            ]).draw(false);
                        }
                    }
                } else {
                    alert(resp[0].errMsg);
                }
            }
        });
    }
</script>
</body>
</html>